<header class="header-nav">
  <div class="content-container">
    <div class="header-nav__nav-wrp">
      <div class="header-nav__nav-left">
        <div class="header-nav__nav-logo">
          <img src="/assets/logo.svg" alt="logo" />
        </div>
        <ul class="header-nav__nav-list">
          <li class="header-nav__nav-item">
            <a href="#">{{ headerItem1 }}</a>
          </li>
          <li class="header-nav__nav-item">
            <a href="#">{{ aboutCompany }}</a>
          </li>
          <li class="header-nav__nav-item" *ngIf="isShowCatalog">
            <a href="#">{{ headerItem3 }}</a>
          </li>
        </ul>
        <button (click)="isShowCatalog = !isShowCatalog">
          Показать/скрыть каталог
        </button>
        <button (click)="changeMenuText()">Изменить текст</button>
      </div>

      <div class="header-nav__nav-right">
        <div class="header-nav__nav-phone">
          <img src="/assets/phone.svg" alt="image phone" />
        </div>
        <a class="header-nav__nav-phone-number" href="tel:+79650842929"
          >+7 (965) 084-29-29</a
        >
        <div class="header-nav__nav-heart">
          <img src="/assets/heart.svg" alt="logo" />
        </div>
        <button class="header-nav__nav-cart">
          <img
            class="header-nav__nav-cart-img"
            src="/assets/buy.svg"
            alt="image basket"
          />
          <span class="header-nav__nav-empty">Пусто</span>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="header-menu">
  <div class="content-container">
    <div class="header-menu__menu-wrp">
      <div class="header-menu__menu-left">
        <img
          class="header-menu__menu-burger"
          src="/assets/light.svg"
          alt="burger"
        />

        <ul class="header-menu__menu-list">
          <li class="header-menu__item" *ngFor="let item of menuItems">
            {{ item }}
          </li>
        </ul>
      </div>

      <div class="header-menu__menu-right">
        <form class="header-menu__menu-form">
          <input
            class="header-menu__menu-input"
            type="text"
            placeholder="Поиск, например Круг зачистной"
          />
          <img
            class="header-menu__menu-search"
            src="/assets/search.svg"
            alt="loop"
          />
        </form>
        <div class="header-menu__menu-location">
          <img
            class="header-menu__menu-location-pin"
            src="/assets/pin.svg"
            alt="map-pin"
          />
          <div class="header-menu__menu-location-city">Москва</div>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="isShowBanner = !isShowBanner">Показать/скрыть банер</button>
<div class="portrait" *ngIf="isShowBanner">
  <img src="/assets/portrait.png" alt="portrait" />
</div>

<div class="content-container">
  <section class="terms">
    <div class="terms__items">
      <img class="terms__items-img" src="/assets/wall.svg" alt="wall" />
      <div class="terms__items-text">
        <span class="terms-items-text-bolt">Большой ассортимент </span>
        <span class="terms-items-text-normal">
          строительных материалов всегда в наличии</span
        >
      </div>
    </div>

    <div class="terms__items">
      <img class="terms__items-img" src="/assets/car.svg" alt="car" />
      <div class="terms__items-text">
        <span class="terms-items-text-bolt">Доставка стройматериалов</span>
        <span class="terms-items-text-normal"
          >в течении четырех часов или в любое удобное время</span
        >
      </div>
    </div>

    <div class="terms__items">
      <img src="/assets/like.svg" alt="" />
      <span class="terms-items-text-normal">
        Многоуровневая
        <span style="color: black">система управления качеством</span>
        по стандарту ISO 9001
      </span>
    </div>
  </section>

  <div class="item-cards">
    <div class="item-cards__pagination">
      <button
        class="item-cards__pagination-button"
        *ngFor="let item of newPages"
      >
        {{ item }}
      </button>
    </div>

    <div class="item-cards__grid">
      <div class="item-cards__grid-left">
        <div class="item-cards__grid-title">
          Строительный отделочный инструмент
        </div>
        <div class="item-cards__grid-left-action">
          <span>Перейти в каталог</span>
          <a class="item-cards__grid-left-action-link" href=""
            ><img src="/assets/frame20.svg" alt="arrow"
          /></a>
        </div>
      </div>

      <div class="item-cards__grid-right">
        <div class="item-cards__grid-right-block block-enamels">
          <div class="item-cards__grid-title item-cards__grid-title-right">
            Эмали
          </div>
          <div class="item-cards__grid-left-action">
            <span>Перейти в каталог</span>
            <a class="item-cards__grid-left-action-link" href="#"
              ><img src="/assets/frame20.svg" alt="arrow"
            /></a>
          </div>
        </div>

        <div class="item-cards__grid-right-block block-paint">
          <div class="item-cards__grid-title">
            Лакокрасочные <br />
            материалы
          </div>
          <div class="item-cards__grid-left-action-left">
            <span>Перейти в каталог</span>
            <a class="item-cards__grid-left-action-link" href="#"
              ><img src="/assets/frame20.svg" alt="arrow"
            /></a>
          </div>
        </div>

        <div class="item-cards__grid-right-block block-sealant">
          <div class="item-cards__grid-title">
            Пены, клеи и <br />
            герметики
          </div>
          <div class="item-cards__grid-left-action-left">
            <span>Перейти в каталог</span>
            <a class="item-cards__grid-left-action-link" href="#"
              ><img src="/assets/frame20.svg" alt="arrow"
            /></a>
          </div>
        </div>

        <div class="item-cards__grid-right-block block-sockets">
          <div class="item-cards__grid-title">Розетки и выключатели</div>
          <div class="item-cards__grid-left-action">
            <span>Перейти в каталог</span>
            <a class="item-cards__grid-left-action-link" href="#"
              ><img src="/assets/frame20.svg" alt="arrow"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="popular">
    <button type="button" class="popular__arrow-left arrow">
      <img src="/assets/polygon_l.svg" alt="arrow left" />
    </button>
    <button type="button" class="popular__arrow-right arrow">
      <img src="/assets/polygon_r.svg" alt="arrow-right" />
    </button>

    <div class="popular__product">
      <span class="popular__product-title"> Популярные товары </span>
      <a class="popular__product-link">Посмотреть все товары</a>
    </div>

    <div class="popular__product-wrapper">
      <ul class="popular__product-list">
        <li class="popular__product-card">
          <div class="discount">%</div>
          <div class="image-heart">
            <img src="/assets/heart_card.svg" alt="heart" />
          </div>

          <span class="popular__product-card-title">
            Круг зачистной 125х6х22
          </span>

          <span class="popular__product-card-article"> Артикул 00004 </span>

          <span class="popular__product-card-price"> Цена за штуку </span>
          <div class="popular__product-card-cost">
            <span class="popular__product-card-cost-was"> 52 руб. </span>
            <span class="popular__product-card-cost-become"> 48 руб. </span>
          </div>

          <div class="popular__product-card-order">
            <div class="popular__product-card-quantity">
              <span>Количество</span>

              <div class="popular__product-card-quantity-score">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </div>
            </div>
            <button class="popular__product-card-basket">В корзину</button>
          </div>
        </li>

        <li class="popular__product-card">
          <div class="discount">%</div>
          <div class="image-heart">
            <img src="/assets/heart_card.svg" alt="heart" />
          </div>

          <span class="popular__product-card-title">
            Круг зачистной 125х6х22
          </span>

          <span class="popular__product-card-article"> Артикул 00004 </span>

          <span class="popular__product-card-price"> Цена за штуку </span>
          <div class="popular__product-card-cost">
            <span class="popular__product-card-cost-was"> 52 руб. </span>
            <span class="popular__product-card-cost-become"> 48 руб. </span>
          </div>

          <div class="popular__product-card-order">
            <div class="popular__product-card-quantity">
              <span>Количество</span>

              <div class="popular__product-card-quantity-score">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </div>
            </div>
            <button class="popular__product-card-basket">В корзину</button>
          </div>
        </li>

        <li class="popular__product-card">
          <div class="badge">Новинка</div>

          <div class="image-heart">
            <img src="/assets/heart_card.svg" alt="heart" />
          </div>

          <div class="discount-midle">%</div>

          <span class="popular__product-card-title">
            Круг зачистной 125х6х22
          </span>

          <span class="popular__product-card-article"> Артикул 00004 </span>

          <span class="popular__product-card-price"> Цена за штуку </span>
          <div class="popular__product-card-cost">
            <span class="popular__product-card-cost-was"> 52 руб. </span>
            <span class="popular__product-card-cost-become"> 48 руб. </span>
          </div>

          <div class="popular__product-card-order">
            <div class="popular__product-card-quantity">
              <span>Количество</span>

              <div class="popular__product-card-quantity-score">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </div>
            </div>
            <button class="popular__product-card-basket">В корзину</button>
          </div>
        </li>

        <li class="popular__product-card">
          <div class="badge">Новинка</div>

          <div class="image-heart">
            <img src="/assets/heart_card.svg" alt="heart" />
          </div>

          <span class="popular__product-card-title">
            Круг зачистной 125х6х22
          </span>

          <span class="popular__product-card-article"> Артикул 00004 </span>

          <span class="popular__product-card-price"> Цена за штуку </span>
          <div class="popular__product-card-cost">
            <span class="popular__product-card-cost-was"> 52 руб. </span>
            <span class="popular__product-card-cost-become"> 48 руб. </span>
          </div>

          <div class="popular__product-card-order">
            <div class="popular__product-card-quantity">
              <span>Количество</span>

              <div class="popular__product-card-quantity-score">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </div>
            </div>
            <button class="popular__product-card-basket">В корзину</button>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="catalogue">
    <div class="catalogue-action">
      <img
        class="catalogue-action__portrait"
        src="/assets/portrait_small.png"
        alt="man"
      />
      <div class="catalogue-action__text">
        <div class="catalogue-action__text-title">
          Более 10 000 наименований
        </div>
        <div class="catalogue-action__text-subtitle">
          Инструмент для вашего бизнеса, разнообразных марок
        </div>
        <a class="catalogue-action__link" href="#">Перейти в каталог</a>
      </div>
    </div>
  </section>

  <section class="new">
    <button type="button" class="new__arrow-left arrow">
      <img src="/assets/polygon_l.svg" alt="arrow left" />
    </button>
    <button type="button" class="new__arrow-right arrow">
      <img src="/assets/polygon_r.svg" alt="arrow-right" />
    </button>

    <div class="new__product">
      <span class="new__product-title"> Новинки </span>
      <a class="new__product-link">Посмотреть все товары</a>
    </div>

    <div class="new__product-wrapper">
      <ul class="new__product-list">
        <li class="new__product-card">
          <div class="badge">Новинка</div>

          <div class="image-heart">
            <img src="/assets/heart_card.svg" alt="heart" />
          </div>

          <span class="new__product-card-title"> Круг зачистной 125х6х22 </span>
          <span class="new__product-card-article"> Артикул 00004 </span>
          <span class="new__product-card-price"> Цена за штуку </span>
          <span class="new__product-card-cost-become"> 52 руб. </span>

          <div class="new__product-card-order">
            <div class="new__product-card-quantity">
              <span>Количество</span>
              <div class="new__product-card-quantity-score">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </div>
            </div>
            <button class="new__product-card-basket">В корзину</button>
          </div>
        </li>

        <li class="new__product-card">
          <div class="badge">Новинка</div>

          <div class="image-heart">
            <img src="/assets/heart_card.svg" alt="heart" />
          </div>

          <span class="new__product-card-title"> Круг зачистной 125х6х22 </span>

          <span class="new__product-card-article"> Артикул 00004 </span>

          <span class="new__product-card-price"> Цена за штуку </span>
          <div class="new__product-card-cost">
            <span class="new__product-card-cost-become"> 52 руб. </span>
          </div>

          <div class="new__product-card-order">
            <div class="new__product-card-quantity">
              <span>Количество</span>

              <div class="new__product-card-quantity-score">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </div>
            </div>
            <button class="new__product-card-basket">В корзину</button>
          </div>
        </li>

        <li class="new__product-card">
          <div class="badge">Новинка</div>

          <div class="image-heart">
            <img src="/assets/heart_card.svg" alt="heart" />
          </div>

          <span class="new__product-card-title"> Круг зачистной 125х6х22 </span>

          <span class="new__product-card-article"> Артикул 00004 </span>

          <span class="new__product-card-price"> Цена за штуку </span>

          <span class="new__product-card-cost-become"> 52 руб. </span>

          <div class="new__product-card-order">
            <div class="new__product-card-quantity">
              <span>Количество</span>

              <div class="new__product-card-quantity-score">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </div>
            </div>
            <button class="new__product-card-basket">В корзину</button>
          </div>
        </li>

        <li class="new__product-card">
          <div class="badge">Новинка</div>

          <div class="image-heart">
            <img src="/assets/heart_card.svg" alt="heart" />
          </div>

          <span class="new__product-card-title"> Круг зачистной 125х6х22 </span>

          <span class="new__product-card-article"> Артикул 00004 </span>

          <span class="new__product-card-price"> Цена за штуку </span>

          <span class="new__product-card-cost-become"> 52 руб. </span>

          <div class="new__product-card-order">
            <div class="new__product-card-quantity">
              <span>Количество</span>

              <div class="new__product-card-quantity-score">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </div>
            </div>
            <button class="new__product-card-basket">В корзину</button>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

<footer class="footer">
  <div class="footer__container">
    <div class="footer__wrapper">
      <div class="footer__contact">
        <img class="footer-logo" src="/assets/logo.svg" alt="logo" />
        <div class="footer__contact-wrp">
          <div class="footer__contact-block">
            <div class="footer__contact-block-wrp">
              <img
                class="footer__contact-img-tel"
                src="/assets/footer_tel.svg"
                alt="logo"
              />
              <span class="footer__contact-title">Контактный телефон</span>
            </div>
            <div class="footer__contact-text">
              <a href="tel:+71234567890">+7 (123) 456-78-90</a>
              <a href="tel:+71234567890">+7 (123) 456-78-90</a>
            </div>
          </div>
          <div class="footer__contact-block">
            <div class="footer__contact-block-wrp">
              <img
                class="footer__contact-img-tel"
                src="/assets/footer_mail.svg"
                alt="logo"
              />
              <span class="footer__contact-title">Электронная почта</span>
            </div>
            <div class="footer__contact-text">
              <a href="mailto:tustin78@mail.ru">tustin78mail.ru</a>
              <a href="mailto:info@tustin.ru">infotustin.ru</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__questions">
        <div class="footer__questions-wrp">
          <h3 class="footer__questions-title">Остались вопросы?</h3>
          <p class="footer__questions-text">
            Узнавайте первым о скидках, предложениях и событиях еженедельно в
            своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
          </p>

          <form class="footer__questions-form">
            <img
              class="footer-input-icon"
              src="/assets/form_mail.svg"
              alt="logo"
            />
            <input
              class="footer-input"
              type="email"
              placeholder="Введите свою почту"
            />
            <button class="footer-email-submit" type="submit">Отправить</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer__nav-wrp">
      <div class="footer__nav">
        <span class="footer__nav-item">Главная</span>
        <span class="footer__nav-item">О компании</span>
        <span class="footer__nav-item">Каталог</span>
      </div>

      <div class="footer__social">
        <div class="footer__social-item">
          <img
            src="/assets/social_fb.svg"
            alt="fb"
            class="footer__social-icon"
          />
          <img
            src="/assets/social_youtube.svg"
            alt="youtube"
            class="footer__social-icon"
          />
          <img
            src="/assets/social_viber.svg"
            alt="viber"
            class="footer__social-icon"
          />
        </div>

        <div class="footer__license">
          <span>© 2021-2022, EDE</span>
        </div>
      </div>
    </div>
  </div>
</footer>
