
<div class="header">
      <div class="header-left">
        <div class="header-logo"> <img src="/assets/logo.svg" alt="logo"></div>
        <nav class="header-nav">
          <div class="header-nav-item">{{headerItem1}}</div>
          <div class="header-nav-item">{{headerItem2}}</div>
          <div class="header-nav-item">{{headerItem3}}</div>
        </nav>
      </div>
      <div class="header-right">
        <div class="header-phone"> <img src="/assets/phone.svg" alt="logo"></div>
        <div class="">
          <a class="phone" href="tel:+79650842929">+7 (965) 084-29-29</a>
        </div>
        <div class="header-heart"> <img src="/assets/heart.svg" alt="logo"></div>
        <button class="cart">
          <img class="img-cart" src="/assets/buy.svg" alt="logo">
          <span class="empty">Пусто</span>
        </button>
      </div>
    </div>

    <div class="header-2">
        <div class="header-left-2">
          <img class="menu" src="/assets/light.svg" alt="burger">
          <nav class="header-nav-2">
              <div class="header-nav-item">{{header2Item1}}</div>
              <div class="header-nav-item">{{header2Item2}}</div>
              <div class="header-nav-item">{{header2Item3}}</div>
              <div class="header-nav-item">{{header2Item4}}</div>
              <div class="header-nav-item">{{header2Item5}}</div>
          </nav>
        </div>
        <div class="header-right-2">
          <form class="form">
              <input class="search" type="search" placeholder="Поиск, например Круг отрезной">
              <img src="/assets/search.svg" alt="search">
          </form>
          <div class="map">
              <img src="/assets/map-pin.svg" alt="map-pin">
              <button class="country" type="menu">Москва</button>
          </div>
        </div>
    </div>
    <div class="portrait">
        <img src="/assets/portrait.png" alt="portrait">
    </div>
    <div class="content-container">
      <div class="terms">
        <div class="terms-items">
          <img src="/assets/wall.svg" alt="">
          <span>Большой ассортимент <br> строительных материалов всегда в наличии</span>
        </div>
        <div class="terms-items">
          <img src="/assets/car.svg" alt="">
          <span>
            Доставка стройматериалов в течении четырех часов или в любое удобное время
          </span>
        </div>
        <div class="terms-items">
          <img src="/assets/like.svg" alt="">
          <span>Многоуровневая система управления качеством по стандарту ISO 9001</span>
        </div>
      </div>

      <div class="item-cards">
        <div class="item-cards__pagination">
          <button class="item-cards__pagination-button active-button">1</button>
          <button class="item-cards__pagination-button">2</button>
          <button class="item-cards__pagination-button">3</button>
          <button class="item-cards__pagination-button">4</button>
          <button class="item-cards__pagination-button">5</button>
        </div>

        <div class="item-cards__grid">
          <div class="item-cards__grid-left">
            <div class="item-cards__grid-left-text">
              Строительный отделочный инструмент
            </div>
            <div class="item-cards__grid-left-action">
              <span>Перейти в каталог</span>
              <a class="item-cards__grid-left-action-link" href=""><img src="/assets/frame20.svg" alt=""></a>
            </div>
          </div>
          <div class="item-cards__grid-right">
            <div class="item-cerda__grid-right-block"></div>
            <div class="item-cerda__grid-right-block"></div>
            <div class="item-cerda__grid-right-block"></div>
            <div class="item-cerda__grid-right-block"></div>
          </div>
        </div>
      </div>
    </div>
